{% extends "base.html" %} {% load static %} {% block title %} John: Register {% endblock %} {% block nav %}
<li class="nav__item"><a href="{% url 'wulfi:home' %}" class="nav__link">Home</a></li>
<li class="nav__item"><a href="{% url 'accounts:register' %}" class="nav__link active">Register</a></li>
<li class="nav__item"><a href="{% url 'accounts:login' %}" class="nav__link">Login</a></li>

{% endblock %}
<!-- {% block img %}
<image class="home_blob-img" x="40" y="18" xlink:href="{{ profiles.profile_pic.url }}" />{% endblock %}  -->

{% block content %}
<!--===== ABOUT =====-->
<section class="about section" id="about">
    <h2 class="section-title">Register</h2>

    <div class="contact__container bd-grid">
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
    </div>

    <div class="register__container bd-grid">
        <form action="register" class="register__form" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username" class="register__input"><br>
            <input type="email" name="email" placeholder="Email" class="register__input"><br>
            <input type="password" name="password1" placeholder="password" class="register__input"><br>
            <input type="password" name="password2" placeholder="Confirm password" class="register__input"><br>
            <button type="submit" class="register__button button">Register</button>
        </form>
    </div>

</section>
{% endblock %}